.skeleton-wrap {
  .skeleton-shape {
    height: 250px;
    width: 100%;
    background: #ebebeb;
  }

  .skeleton-shape-long {
    height: 20px;
    width: 100%;
    background: #ebebeb;
  }

  .skeleton-shape-long {
    height: 20px;
    width: 70%;
    background: #ebebeb;
  }
}
